/* Styling for initial 100vh */
/* 
.search_container{
  background-color: #cccccc;
  height: 92vh;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
} */
.search_bar{
  width: 80%; 
  margin: 0 auto;
}
.layer {
  background: rgba(204, 204, 204, 0.5);
  position: absolute;
  color: black;
  margin-top: 2em;
}

/* styling for parallax scrolling */
body, html{
  margin:0;
  padding:0;
}
h1{
  padding-top: 1em;
  font-family: 'open sans', 'HelveticaNeue', 'Helvetica Neue', 'Helvetica-Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.wrapper {
  height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  perspective: 3px;
}

.section{
  height: 92vh;
}
.section_home_img{
  position: relative;
  height: 70vh;
}

.parallax::after {
  position: relative;
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.5);

  background-size: cover;
  background-position: center;
  z-index: -1;
}

.static {
  height: 40vh;
  background: #FFFFFF;

  color: black;

  display: flex;
  justify-content: center;
}

.bg1::after {
  background-image: url('./images/home1.jpg');
}
.bg2::after {
  background-image: url('./images/home2.jpg');
}
.bg3::after {
  background-image: url('./images/family.jpg');
}